.container {
  margin: 20px auto;
  border: solid 0.5px;
  height: fit-content;
  padding: 0;
  border-color: darkseagreen;
}
h1 {
  font-weight: bolder;
  margin: 0;
}
h2 {
  font-size: 50px;
  margin: 0;
}

.date {
  font-size: 15px;
  color: #ffffff;
  background-color: darkseagreen;
  margin: 0 auto;
  padding: 20px 2px 2px 20px;
  display: block;
}
.search {
  font-size: 15px;
  color: #ffffff;
  background-color: darkseagreen;
  margin: 0 auto;
  padding: 10px 2px 20px 15px;
  display: block;
}
.area,
.icon,
.temperature,
.information {
  display: block;
  text-align: center;
}

.city {
  font-family: Arial, Helvetica, sans-serif;
  color: darkseagreen;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px 0px 10px 0px;
}

/* .location {
  font-style: italic;
  font-size: 11px;
} */

.icon {
  font-size: 50px;
}
.information {
  margin: 5px;
  padding-bottom: 20px;
  text-align: center;
}
.forecast {
  margin: 0 auto;
  padding: 15px;
}
hr {
  margin: 0 auto;
}
.card {
  margin: 0 auto;
  width: 11rem;
  height: 10rem;
}
ul.card-text {
  font-size: 12px;
  padding: 0;
}
.repository {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
  display: block;
}

.weather-forecast {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
